@import"../../node_modules/normalize.css/normalize.css";
@import"./general/fonts.scss";
@import"./general/mixin.scss";


.fat-cat {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/cat_bk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include tablet {
    height: 100%;
  }

  & h2 {
    color: #FFFF;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    padding: 36px 0 24px;
    margin: 0;
  }
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}


.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


  &__card {
    width: 320px;
    height: 480px;
    border-radius: 10px;
    position: relative;
    background-image: url(../images/Back-blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto 30px;


    & p {
      color: #666666;
      font-size: 16px;
      line-height: 19px;
      &:last-child {
        font-size: 14px;
        line-height: 16px;
      }
    }

    & h3 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      & span {
        font-size: 48px;
        line-height: 56px;
        
      }
    }

    }
    
    &__info {
      padding: 6px 0 0 51px;
    }
    
    &__imag {
      position: relative;
      height: 242px;
      margin-left: 4px;
      border-radius: 10px;
      overflow: hidden;
      top: -4px;
      & img {
        top: 0;
        left: -40px;
        position: absolute;
        z-index: 4;
      }
    }

    &__circle {
      width: 80px;
      height: 80px;
      position: absolute;
      text-align: center;
      right: 16px;
      bottom: 16px;
      border-radius: 50%;
      background-color: #1698D9;
    }
  }

  .circle_text {
    margin-top: 22px;
    color: #FFFF; 
    font-size: 21px;
    line-height: 22px;
    & span {
      font-size: 42px;
      line-height: 20px;
    }
  }
  
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 480px;
}



