@import"../../node_modules/normalize.css/normalize.css";
@import"./general/fonts.scss";
@import"./general/mixin.scss";


.fat-cat {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/cat_bk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include tablet {
    height: 100%;
  }

  & h2 {
    color: #FFFF;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    padding: 36px 0 24px;
    margin: 0;
  }
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}


.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


  &__card {
    width: 320px;
    height: 480px;
    border-radius: 10px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 15px 14px;
    cursor: pointer;

    & p {
      color: #666666;
      font-size: 16px;
      line-height: 19px;
      &:last-child {
        font-size: 14px;
        line-height: 16px;
      }
    }

    & h3 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      & span {
        font-size: 48px;
        line-height: 56px;
        
      }
    }

    
  }
    
    &__info {
      padding: 6px 0 0 51px;
    }
    
    &__imag {
      position: relative;
      height: 242px;
      margin-left: 4px;
      border-radius: 10px;
      overflow: hidden;
      top: -4px;
      & img {
        top: 0;
        left: -40px;
        position: absolute;
        z-index: 4;
      }
    }

    &__circle {
      width: 80px;
      height: 80px;
      position: absolute;
      text-align: center;
      right: 16px;
      bottom: 16px;
      border-radius: 50%;
      background-color: #1698D9;
    }

    &__counter {
      color: #ffff;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      margin-bottom: 15px;

      & span {
        margin: 0 5px;
      }

      & button {
        background: rgba(184, 184, 179, 0.8);
        border-radius: 5px;
        transition: 0.5s;
        &:hover {
          background: rgba(182, 182, 36, 1);
        }
        &:active {
          background: rgba(18, 117, 35, 0.8);
        }
      }
    }
}

  .circle_text {
    margin-top: 22px;
    color: #FFFF; 
    font-size: 21px;
    line-height: 22px;
    & span {
      font-size: 42px;
      line-height: 20px;
    }
  }

.wrapper {
  margin: 0 auto 30px;
}
  
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 480px;
}

.subtitle {
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  color: #ffff;
  & span {
    color: #1698D9;
    text-decoration: none;
    border-bottom: 1px dashed #1698D9;
    transition: 0.6s;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}

.active, .absent {
  display: none;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  color: #ffff;
}

.absent {
  color: #FFFF66;
}

.hide {
  display: none;
}

.show {
  display: block !important;
}

.bk-static {
  background-image: url(../images/Back-blue.png);
}

.bk-active {
  background-image: url(../images/Back-pink.png);
  .row__circle {
    background-color: #E52E7A;
  }
}

.bk-absent {
  background-image: url(../images/Back-absent.png);
  color: rgba($color: #000000, $alpha: 0.3);

  .row__circle {
    background-color: #B3B3B3;
  }

  .row__info p {
    color: rgba($color: #000000, $alpha: 0.3);
  }

  .row__imag {
    opacity: 0.5;
  }
}

.active_header {
  display: none;
  font-size: 16px;
  line-height: 19px;
  color: #E52E7A !important;
}

.click_button {
  background: rgba(18, 117, 35, 0.8) !important;
}


