

@font-face {
	font-family: 'Exo';
	src: url(../fonts/Exo2.0-Thin.otf);
	src: local('Exo'), local('Exo'),
		url(../fonts/Exo2.0-Thin.otf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

