include ../node_modules/bempug/index

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style/style.scss")
        title Fat Cat
    body 

        +b('fat-cat')
            .container
                +e('header')
                    h2 Ты сегодня покормил кота?
                +b('row')
                    - var cards = [{quantity: '10 порций </br>мышь в подарок', weight: '<span>0,5</span> </br> кг', active: "Печень утки разварная с артишоками.", absent: "Печалька, с фуа-гра закончился."},{quantity: '40 порций </br>2 мыши в подарок', weight: '<span>2</span> </br> кг', active: "Головы щучьи с чесноком да свежайшая сёмгушка.", absent: "Печалька, с рыбой закончился."},{quantity: '100 порций </br>5 мышей в подарок </br>заказчик доволен', weight: '<span>5</span> </br> кг', active: "Филе из цыплят с трюфелями в бульоне.", absent: "Печалька, с курой закончился."}]
                        each card, index in cards
                            .wrapper
                                +e('stocks')
                                    | Наличие: 
                                    button.minus нет
                                    button.plus есть
                                +e('card').bk-static
                                    .box
                                        +e('info')
                                            p Сказочное заморское яство
                                            h3 <span>Нямушка</span></br> с фуа-гра
                                            p!= card.quantity
                                        +e('imag')
                                            img(src="images/fat_cat.png", alt="fatcat")
                                        +e('circle')
                                            .circle_text!= card.weight
                                .subtitle Чего сидишь? Порадуй котэ,<span class = "button"> купи</span> 
                                .active= card.active
                                .absent= card.absent
                            

        script(src="index.js")
