meta(property="og:url" content="")
meta(property="og:type" content="website")
meta(property="og:title" content=site_name+" ‣ "+current)
meta(property="og:description" content=site_description)
meta(property="og:image" content="")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="")
meta(name="twitter:creator" content="")
meta(name="twitter:title" content=site_name+" ‣ "+current)
meta(name="twitter:description" content=site_description)
meta(name="twitter:image" content="")