link(rel='preload' as='style' crossorigin='anonymous' charset='UTF-8' href="./styles/style.scss")
link(rel='preload' as='script' crossorigin='anonymous' charset='UTF-8' href='./js/index.js')

link(rel='stylesheet' media='all' crossorigin='anonymous' type='text/css' charset='UTF-8' href="./styles/style.scss")

each link in links
  - if(current !== link.name){
      link(rel="prefetch" href=link.url)
      link(rel="prerender" href=link.url)
  - }
