block vars
  - 
    var current = "Index";

include ./helpers/index.pug

doctype html
html(lang="en-US" encoding="UTF-8" charset="UTF-8" dir="ltr" language="English" prefix="og: http://ogp.me/ns#" itemtype="http://schema.org/WebPage")
  head
    include ./sections/head/meta.pug
    include ./sections/head/favicons.pug
    include ./sections/head/socials.pug
    include ./sections/head/google-fonts.pug
    include ./sections/head/style-script.pug
  body
    .wrapper
      include ./sections/header/index.pug
      
      main
        block content

      include ./sections/footer/index.pug
    script(defer crossorigin='anonymous' type='application/javascript' charset='UTF-8' src='./js/index.js')